.header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(50, 50, 50, 0.75);
    width: 100%;
    height: 80px;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
}

.new-list-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 60px;
    color: rgba(255,255,255,1);
    z-index: 2;
}

.config-icon {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 50px;
    color: rgba(255,255,255,1);
    z-index: 2;
}

#listContainer {
    margin-top: 90px;
    z-index: 0;
}

.list-card {
    position: relative;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    width: 90vw;
    max-width: 500px;
    margin: 15px auto;
    padding: 10px;
    display: block;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

.list-card h3 {
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}

.list-card .list-config-container {
    display: inline-block;
    float: right;
    padding: 5px;
}

.list-card li {
    list-style-type: none;
    font-size: 1rem;
    padding: 5px;
    margin: 1px;
    background: rgba(255, 255, 255, 0);
    transition: background 0.25s;
}

.list-card li:hover {
    background: rgba(255, 255, 255, 1);
}


.list-card .new-list-element {
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    margin: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(200, 200, 200, 0.5);
    color: rgba(100, 100, 100, 1);
    transition: background 0.25s, color 0.25s;
}

.list-card .new-list-element:hover {
    background: rgba(12, 137, 175, 0.5);
    color: rgba(255, 255, 255, 1);
}