/* --------- HEADER--------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 80px;
    z-index: 2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.65);
}

.header-logo {
    display: block;
    height: 60px;
    margin: 10px auto;
}

.new-list-icon {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
}

.config-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 20px;
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
}

/* --------- FILTERS--------------- */

#filterContainer {
    text-align: center;
    font-size: 0;
    margin: auto;
    margin-top: 90px;
    width: 90vw;
    max-width: 500px;
}

.filter-btn {
    display: inline-block;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.85);
    margin: auto;
    padding: 10px;
    padding-right: 15px;
    border-radius: 100px;
    margin: 1%;
    opacity: 0.5;

    transition: opacity 0.2s;
}

.filter-all {
    color: rgb(200, 200, 200);
}

.filter-hjem {
    color: rgb(43, 181, 80);
}

.filter-jobb {
    color: rgb(58, 64, 199);
}

.filter-skole {
    color: rgb(188, 25, 56);
}

.active-filter {
    opacity: 1;
}

.filter-btn:hover:not(.active-filter) {
    opacity: 0.75;
}

/* --------- LISTS--------------- */

#listContainer {
    z-index: 0;
}

.list-card {
    position: relative;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    width: 90vw;
    max-width: 500px;
    margin: 15px auto;
    padding: 10px;
    display: block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.list-card h3 {
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}

.list-card .list-config-container {
    position: relative;
    display: inline-block;
    float: right;
    padding: 5px;
}

.list-card .duedate {
    position: absolute;
    font-size: 0.5rem;
    font-weight: bold;
    color: #000;
    background: rgba(215, 215, 215, 1);
    border-radius: 5px;
    right: 30px;
    padding: 5px;
}

.list-card .duedate:empty {
    padding: 0;
}

.list-card li {
    position: relative;
    list-style-type: none;
    font-size: 1rem;
    padding: 5px;
    margin: 1px;
    background: rgba(255, 255, 255, 0);
    transition: background 0.25s;
}

.list-card li:hover {
    background: rgba(255, 255, 255, 1);
}

.list-card li.highlight {
    background: rgba(255, 226, 0, 1);
}

.listelement-config-container {
    position: relative;
    width: 20px;
    float: right;
}
.dropdown-sub-container {
    position: relative;
}

.dropdown, .dropdown-sub {
    display: none;
    position: absolute;
    background: rgba(200, 200, 200, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 125px;
    z-index: 1;
}

.dropdown {
    right: 20px;
    top:50%;
    transform:translateY(-50%);
}


.dropdown-sub {
    right: 115px;
    top: 0;
}

.dropdown div:not(.dropdown-sub) {
    color: black;
    padding: 10px;
    display: block;
}

.dropdown div:not(.dropdown-sub):hover {
    background-color: rgba(235, 235, 235, 1);
}

.listelement-config-container:hover .dropdown,
.list-config-container:hover .dropdown,
.dropdown-sub-container:hover .dropdown-sub{
    display: block;
    background: rgba(215, 215, 215, 1);
}

.listelement-config-container:hover i:not(.fa-circle),
.list-config-container:hover i {
    color: rgba(255, 226, 0, 1);
}

.list-card .new-list-element {
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    margin: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(200, 200, 200, 0.5);
    color: rgba(100, 100, 100, 1);
    transition: background 0.25s, color 0.25s;
}

.list-card .new-list-element:hover {
    background: rgba(255, 226, 0, 1);
    /*background: rgba(12, 137, 175, 0.5);*/
    color: rgba(255, 255, 255, 1);
}
