body {
    padding: 0;
    margin: 0;
    background-color: #fff;

    font-family: sans-serif
}

input {
    margin: 5px 0px;
}

div {
    display: inline-block;
    margin: 0px;
    width: 100%;
    text-align: center;
    align-content: center;
}

#newUserContainer {
    background: lightgreen;
    height: 60vh;
}

#loginContainer {
    background: #9bd85e;
    height: 40vh;
}

.redBorder {
    border: solid red 1px;
}
